@using Proyecto.Models;
@{

    var lista = new List<Proveerdor>();

    if (ViewBag.lista != null)
    {
        lista = (List<Proveerdor>)ViewBag.lista;
    }

}
<form class="proveedor-form" method="post" action="/Proveedor/Guardarproveedor">
    <div class="form-group">

        <label for="username">Nombre de proveedor</label>

        <input type="text" class="form-control" name="Nombre" placeholder="Ingresa el nombre proveedor" required>
    </div>
    <div class="form-group">

        <label for="username">Telefono proveedor</label>

        <input type="text" class="form-control" name="Telefono" placeholder="Ingrese el numero" required>
    </div>
    <div class="form-group">

        <label for="username">correo</label>

        <input type="text" class="form-control" name="correo" placeholder="Ingrese el correo" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Enviar datos</button>
</form>

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <th scope="row">
                        @item.Id

                    </th>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Telefono
                    </td>
                    <td>
                        @item.Correo
                    </td>
                </tr>
            }



        </tbody>
    </table>
</div>
