@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Estilo adicional personalizado */
        .login-form {
            max-width: 350px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h3 class="text-center">Inicio de Sesión</h3>
                    </div>
                    <div class="card-body">
                        <form class="login-form" method="post" action="/Login/Login">
                            <div class="form-group">
                                <label for="username">Nombre de Usuario</label>
                                <input type="text" class="form-control" id="username" name="Nombre" placeholder="Ingresa tu nombre de usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="Contraseña" placeholder="Ingresa tu contraseña" required>
                            </div>

                            <div class="g-recaptcha" data-sitekey="6Lc_N10qAAAAAMl2RxlIASM0gMRF0m0wbXUgucuc"></div>

                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Bootstrap JS (opcional si no necesitas funcionalidades de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

